<div class="pusher"></div>
<div class="container">
  <div id="valFrm" class="span12 hidden">
    <h2>Initialize Gateway Validation</h2>
    <form>
      <fieldset>
        <label>Mobile Number</label>
        <input id="mobVal" type="text" placeholder="+CCXXXXXXXX..">
        <span class="help-block">Enter the gateway's operational Number. It will receive a code to prove ownership.</span>
        <button id="valBtn" type="submit" class="btn btn-inverse">Request Validation</button>
      </fieldset>
    </form>
  </div>
</div>
<div class="container">
  <div id="cfmFrm" class="span12 hidden">
    <h2>Validate Gateway Ownership</h2>
    <form>
      <fieldset>
        <label>Confirmation Code</label>
        <input id="cfmVal" type="text" placeholder="yYyYy">
        <span class="help-block">Enter the code you received via SMS. To retry, log out and log back in again.</span>
        <button id="cfmBtn" type="submit" class="btn btn-inverse">Confirm Ownership</button>
      </fieldset>
    </form>
  </div>
</div>
<div id="statusFrm" class="container hidden">
  <div class="row marketing">
    <div class="col-lg-6">
      <h2>Account Balance</h2>
      Your account balance is 0.00 BTC
      <form>
        <fieldset>
          <button id="withdrawalBtn" type="submit" class="btn btn-inverse">Withdraw</button>
        </fieldset>
      </form>
      <br>
    </div>
    <div class="col-lg-6">
      <h2>Transaction Fee</h2>
      <form>
        <fieldset>
          <label>Transaction Fee</label>
          <input id="feeVal" type="text" placeholder="0.00xx">
          <span class="help-block">Choose a transaction fee payed to you by the user for each successfull transaction.</span>
          <button id="feeBtn" type="submit" class="btn btn-inverse">Set Fee</button>
        </fieldset>
      </form>
      <br>
    </div>
  </div>
</div>
<div class="container">
  <div id="cnfFrm" class="span12 hidden">
    To operate the gateway, download  <a href="https://play.google.com/store/apps/details?id=org.envaya.sms">EnvayaSMS</a> and configure it with the following parameters.
    <table class="table .table-striped">
      <caption>Configuration</caption>
      <thead>
        <tr><th>Field</th><th>Value</th></tr>
      </thead>
      <tbody>
        <tr><td>Enable EnvayaSMS</td><td>true</td></tr>
        <tr><td>#Server Settings</td><td></td></tr>
        <tr><td>Server URL</td><td>basePath + envayasms/sms</td></tr>
        <tr><td>Your phone Number</td><td>+821051833737</td></tr>
        <tr><td>Password</td><td>**********</td></tr>
        <tr><td>Poll interval</td><td>never</td></tr>
        <tr><td>#Messaging Settings</td><td></td></tr>
        <tr><td>Keep new messages</td><td>false</td></tr>
        <tr><td>Call notification</td><td>false</td></tr>
        <tr><td>SMS rate limit</td><td>400</td></tr>
        <tr><td>Forward sent message</td><td>false</td></tr>
        <tr><td>Ignored phones</td><td>none</td></tr>
        <tr><td>Test mode</td><td>false</td></tr>
        <tr><td>#Networking Settings</td><td></td></tr>
        <tr><td>Wi-Fi sleep policy</td><td>always stay connected</td></tr>
        <tr><td>Network failover</td><td>if possible, true</td></tr>
        <tr><td>#AMQP Settings(Real-Time Connection)</td><td></td></tr>
        <tr><td>Enable AMQP</td><td>true</td></tr>
        <tr><td>AMQP Host</td><td>server2</td></tr>
        <tr><td>AMQP Port</td><td>5672</td></tr>
        <tr><td>AMQP Virtual Host</td><td>/</td></tr>
        <tr><td>AMQP SSL</td><td>true</td></tr>
        <tr><td>AMQP User</td><td>ldap cn</td></tr>
        <tr><td>AMQP Password</td><td>website password</td></tr>
        <tr><td>AMQP Queue Name</td><td>821051833737</td></tr>
        <tr><td>AMQP Heartbeat (sec)</td><td>60</td></tr>
        <tr><td>#Help</td><td></td></tr>
        <tr><td>about EnvayaSMS</td><td>3.0.1</td></tr>
      </tbody>
    </table>
  </div>
</div>