<div class="pusher"></div>
  <div class="container">
    <div id="valFrm" class="span12">
      <h2>1. Validate Gateway Ownership</h2>
      <form>
        <fieldset>
          <label>Mobile Number</label>
          <input id="mobVal" type="text" placeholder="+CCXXXXXXXX..">
          <span class="help-block">Enter the gateway's operational Number. It will receive a code to prove ownership.</span>
          <button id="valBtn" type="submit" class="btn btn-inverse">Request Validation</button>
        </fieldset>
      </form>
      <form>
        <fieldset>
          <label>Confirmation Code</label>
          <input id="cfmVal" type="text" placeholder="yYyYy">
          <span class="help-block">Enter the code you received via SMS. To retry, log out and log back in again.</span>
          <button id="cfmBtn" type="submit" class="btn btn-inverse">Confirm Ownership</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>