<div class="pusher"></div>
<div id="statusFrm" class="container">
  <div class="row marketing">
    <div class="col-sm-12 wbox">
      <h2>Account Balance</h2>
      Your account balance is {{value}} BTC
      <form>
        <fieldset>
          <button id="withdrawalBtn" type="submit" class="btn btn-inverse">Withdraw</button>
        </fieldset>
      </form>
      <div class="alert alert-danger"><a class="close">&times;</a>Not implemented!</div>
      <br>
    </div>
  </div>
</div>