<div class="pusher"></div>
<div class="container">
	<div class="row marketing">
	    <div class="col-sm-12 wbox">
			<h2 class="form-signin-heading">Verify Captcha!</h2>
			<p>Your IP has made multiple requests. Please type both words displayed by the captcha to verify that you are not a bot.</p>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" aria-hidden="true">&times;</button>
				<strong>Error!</strong> Incorrect Solution! Try again.
			</div>
			<div id="recaptcha_div">loading captcha ...</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Done!</button>
  		</div>
  	</div>
</div>