<h2 class="form-signin-heading">Are you a Bot?</h2>
<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" aria-hidden="true">&times;</button>
	<strong>Error!</strong> Incorrect Solution! Try again.
</div> 
<div id="recaptcha_div">loading captcha ...</div>
<button class="btn btn-lg btn-primary btn-block" type="submit">No, I'm not!</button>