<div class="pusher"></div>
<div class="container">

  <div class="col-md-12 wbox">
	<h2>Contact Information</h2>
	<ul>
	<li><strong>Email:</strong> admin[at]37coins.com</li>
	<li><strong>Phone:</strong> +49 (0)711 50888362</li>
	<li><strong>Twitter:</strong> @37coins</li>
	</ul>
  </div>

</div>