<div class="pusher"></div>
<div class="container">
    <div class="row marketing">
        <div class="col-sm-12 wbox">
            <h2>Configuration Example</h2>
            To operate the gateway, you will need to download  <a href="https://play.google.com/store/apps/details?id=org.envaya.sms">EnvayaSMS</a> and configure it with the following parameters:
            <table class="table .table-striped">
              <thead>
                <tr><th>Field</th><th>Value</th></tr>
              </thead>
              <tbody>
                <tr><td>Enable EnvayaSMS</td><td>true</td></tr>
                <tr><td>#Server Settings</td><td></td></tr>
                <tr><td>Server URL</td><td>/envayasms/account/sms</td></tr>
                <tr><td>Your phone Number</td><td>mobileNumber</td></tr>
                <tr><td>Password</td><td>account</td></tr>
                <tr><td>Poll interval</td><td>never</td></tr>
                <tr><td>#Messaging Settings</td><td></td></tr>
                <tr><td>Keep new messages</td><td>false</td></tr>
                <tr><td>Call notification</td><td>false</td></tr>
                <tr><td>SMS rate limit</td><td>400</td></tr>
                <tr><td>Forward sent message</td><td>false</td></tr>
                <tr><td>Ignored phones</td><td>none</td></tr>
                <tr><td>Test mode</td><td>false</td></tr>
                <tr><td>#Networking Settings</td><td></td></tr>
                <tr><td>Wi-Fi sleep policy</td><td>always stay connected</td></tr>
                <tr><td>Network failover</td><td>true</td></tr>
                <tr><td>#AMQP Settings(Real-Time Connection)</td><td></td></tr>
                <tr><td>Enable AMQP</td><td>true</td></tr>
                <tr><td>AMQP Host</td><td>server</td></tr>
                <tr><td>AMQP Port</td><td>5672</td></tr>
                <tr><td>AMQP Virtual Host</td><td>/</td></tr>
                <tr><td>AMQP SSL</td><td>true</td></tr>
                <tr><td>AMQP User</td><td>account</td></tr>
                <tr><td>AMQP Password</td><td>[web login password]</td></tr>
                <tr><td>AMQP Queue Name</td><td>account</td></tr>
                <tr><td>AMQP Heartbeat (sec)</td><td>60</td></tr>
                <tr><td>#Help</td><td></td></tr>
                <tr><td>about EnvayaSMS</td><td>3.0.1</td></tr>
              </tbody>
            </table>
        </div>
    </div>
</div>