<div class="container">
	<div class="row">
        <div class="col-xs-3">
          <a href="#">Home</a>
        </div>
        <div class="col-xs-3">
          <a href="#faq">FAQ</a>
        </div>
        <div class="col-xs-3">
          <a href="#contact">Contact</a>
        </div>
        <div class="col-xs-3">
          <span>© 2013 Johann Barbie</span>
        </div>
    </div>
</div>