<div class="pusher"></div>
<div id="statusFrm" class="container">
  <div class="row marketing">
    <div id="balView" class="col-sm-6 wbox">

    </div>
    <div id="feeView" class="col-sm-6 wbox">
  
    </div>
  </div>
</div>
<div class="container">
  <div id="confView" class="col-md-12 wbox">

  </div>
</div>