<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-inner">
    <div id="headcont" class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="{{resPath}}/images/37coins_header.png" class="img-responsive pull-left" alt="37Coins"></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li><a class="" href="#">Home</a></li>
          <li id="liLogin"><a id="aLogin" href="#gateways">Gateways</a></li>
          <li id="liLogout" style="display:none"><a id="aLogout" href="#">Logout</a></li>
          <li><a href="https://twitter.com/37Coins" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/37Coins" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a></li>
        </ul>

      </div>
    </div>
  </div>
</div>