<div class="pusher"></div>
<div class="container">
  <div class="jumbotron">
    <img src="{{resPath}}/images/37coins_header.png" class="img-responsive" alt="37Coins">
    <p class="lead">37Coins is your global Bitcoin wallet. <br>It makes financial transactions as simple as sending a text.</p>
    <p><a class="btn btn-lg btn-success" href="#">Get Started</a></p>
  </div>

  <div class="row marketing">
    <div class="col-sm-6 wbox">
      <h3>Commands</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Command</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>help</td><td>list available commands.</td></tr>
          <tr><td>addr</td><td>get the receiving address for your wallet.</td></tr>
          <tr><td>bal</td><td>receive your wallet's balance.</td></tr>
          <tr><td>send &lt;amount&gt; &lt;to&gt; [comment]</td><td>send bitcoins to email, phone number or bitcoin address.</td></tr>
          <tr><td>req ..</td><td>like send, but requesting payment.</td></tr>
          <tr><td>txns</td><td>list the last 3 transactions.</td></tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-6 wbox">
      <h3>Gateways:</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Number</th>
            <th>Fee</th>
          </tr>
        </thead>
        <tbody id="gwTable">
          
        </tbody>
      </table>
      <p><a class="btn btn-default" href="#gateways">Open a Gateway &raquo;</a></p>
    </div>
  </div>
</div>