<div class="pusher"></div>
<div class="container">
	<div class="row marketing">
	    <div class="col-sm-6 wbox">
			<form class="form-signin">
			    <h2 class="form-signin-heading">Existing Gateway:</h2>
			    <div class="alert alert-danger">
			        <a class="close" data-dismiss="alert">&times;</a>Incorrect Email or Password!
			    </div>  
			    <input type="text" class="input-block-level" placeholder="Email address">
			    <input type="password" class="input-block-level" placeholder="Password">
			    <button id="loginBtn" class="btn btn-large btn-primary" type="submit">Sign in</button>
			    <p><br>Forgot password?<a href="#" id="lostBtn" class="btn btn-large">Reset</a>
			    </p>
			</form>
	    </div>

	    <div class="col-sm-6 wbox">
	    	<div id="registerForm">
		    	<h2 class="form-signin-heading">New Gateway?</h2>
				<p>Do you have a spare Android and want to run an SMS Bitcoin wallet in your country?</p>
				<a href="#" id="regBtn" class="btn btn-primary">Register</a>
				<p><br>The registration process will take you through:<br> 
					- setting up an android phone<br>
					- choosing a transaction fee<br>
					- testing your gateway<br>
				</p>
			</div>
	   	</div>
	</div>
</div>