<div class="pusher"></div>
<div class="container">
    <div class="row marketing">
        <div class="col-sm-12 wbox">
            <div class="alert alert-success fade in">
              <strong>Success!</strong> Logout successfull. <a href="#gateways" class="alert-link">Continue to Login</a>!
            </div>
        </div>
    </div>
</div>