<div class="pusher"></div>
<div class="container">
    <div class="row marketing">
        <div class="col-sm-12 wbox">
            <div class="alert alert-danger fade in">
              <strong>Error!</strong> Page not Found. <a href="#" class="alert-link">Continue to Index</a>!
            </div>
        </div>
    </div>
</div>