<input name="password1" type="password" class="form-control" placeholder="Password" required>
<input name="password2" type="password" class="form-control" placeholder="Password" required>

<button class="btn btn-lg btn-primary btn-block" type="submit">Save new Password</button>

<div class="alert alert-danger alert-dismissable fade">
  <button type="button" class="close" aria-hidden="true">&times;</button>
  <strong>Error!</strong> Passwords have to match.
</div>