<div class="pusher"></div>
<div class="container">
    <div class="row marketing">
        <div class="col-sm-12 wbox">
        	<h2 class="form-signin-heading">Identify Account for Reset</h2>
	        <div class="alert alert-success fade in">
			  <strong>Success!</strong> Password request submitted. Please check your email inbox and follow the provided instructions.
			</div>
		</div>
    </div>
</div>