<h2 class="form-signin-heading">Password Reset:</h2>
<input type="text" class="input-block-level" placeholder="Email address">
<button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>

<div class="alert alert-danger alert-dismissable fade">
  <button type="button" class="close" aria-hidden="true">&times;</button>
  <strong>Error!</strong> Account not found. Try again.
</div>