<div class="pusher"></div>
<div class="container">
    <div class="row marketing">
        <div class="col-sm-12 wbox">
            <div class="alert alert-danger fade in">
              <strong>Error!</strong> Passwords reset URL no longer valid. Please <a href="#contact" class="alert-link">contact support</a>.
            </div>
        </div>
    </div>
</div>