<div class="pusher"></div>
<div class="container">
    <div class="row marketing">
        <div class="col-sm-12 wbox">
        	<h2 class="form-signin-heading">Sign Up</h2>
			<div id="signupSucAlert" class="alert alert-success fade">
			  <strong>Success!</strong> Account created. <a href="#gateways" class="alert-link">Get started</a>!
			</div>
			<div id="signupErrAlert" class="alert alert-danger fade">
			  <strong>Error!</strong> Account creation failed. Please <a href="#contact" class="alert-link">contact support</a>.
			</div>
		</div>
	</div>
</div>