<div class="pusher"></div>
<div class="container">
    <div class="row marketing">
        <div class="col-sm-12 wbox">
            <h2 class="form-signin-heading">Please Sign up</h2>
            <div class="alert alert-success">You have successfully submitted a registration request.</div>
            <div class="alert alert-warning"><strong>Attention!</strong> To complete registration please check your email inbox and validate you email address.</div>
        </div>
    </div>
</div>