<form class="form-signin">
	<h2 class="form-signin-heading">Sign up, it's FREE!</h2>
    <input type="text" name="email" class="form-control" placeholder="Email address" required autofocus>
    <input type="password" name="password1" class="form-control" placeholder="Password" required>
    <input type="password" name="password2" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">&times;</a>Incorrect Email or Password!
    </div> 
</form>

<div class="after">
	<h2 class="form-signin-heading">SignUp Request Submitted Successfully.</h2>
	<div class="alert alert-success">You have successfully submitted a registration request.</div>
	<div class="alert alert-warning">Attention! To complete registration please check your email inbox and validate you email address.</div>
</div>