<div class="pusher"></div>
<div class="container">
  <div id="cfmFrm" class="col-md-12 wbox">
    <h2>Gateway Ownership Verification</h2>
      <form>
          <div class="form-group">
              <label for="inputCode">Verfication Code:</label>
              <input type="number" name="code" class="form-control" id="inputCode" placeholder="12345">
              <span class="help-block">Type the 5-digit code you received during the verification call.</span>
          </div>
          <button class="btn btn-lg btn-primary" type="submit">Confirm Ownership</button>
      </form>
      <div class="alert alert-danger alert-dismissable fade">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <strong>Error!</strong> Submitted code not valid.
      </div>
  </div>
</div>
