<div class="pusher"></div>
<div class="container">
  <div id="valFrm" class="col-md-12 wbox">
    <h2>Gateway Ownership Verification</h2>
        <form>
            <div class="form-group">
                <label for="inputTel">Gateway Mobile Number:</label>
                <input type="tel" name="tel" class="form-control" id="inputTel" placeholder="+CCXXXXXX...">
                <span class="help-block">Enter your gateway's number in international format. Avoid special signs and spaces. You will receive a call, telling your 5-digit confirmation code.</span>
            </div>
            <button class="btn btn-lg btn-primary" type="submit">Start Verification</button>
        </form>
        <div class="alert alert-danger alert-dismissable fade">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <strong>Error!</strong> Communication Error.
        </div>
  </div>
</div>