<div class="pusher"></div>
<div class="container">
  <div id="valFrm" class="col-md-12 wbox">
    <h2>Initialize Gateway Validation</h2>
    <form>
      <fieldset>
        <label>Mobile Number</label>
        <input id="mobVal" type="text" placeholder="+CCXXXXXXXX..">
        <span class="help-block">Enter the gateway's operational Number. It will receive a code to prove ownership.</span>
        <button id="valBtn" type="submit" class="btn btn-inverse">Request Validation</button>
      </fieldset>
      <div id="error" class="alert alert-danger"><a class="close">&times;</a>Communitcation Error!</div>
    </form>
  </div>
</div>