<#setting locale=locale>
<html>
	<head>
		<title>Help</title>
		<#include "style.css">
	</head>
	<body>
		<article class="se-content">
			<#include "header.html">
			<p class="text">
				${resBundle.HelpPrimer}
				${resBundle.HelpCommand1}
				${resBundle.HelpCommand1Description}
				${resBundle.HelpCommand2}
				${resBundle.HelpCommand2Description}
				${resBundle.HelpCommand3}
				${resBundle.HelpCommand3Description}
				${resBundle.HelpCommand3Example}
				${resBundle.HelpCommand4}
				${resBundle.HelpCommand4Description}
				${resBundle.HelpCommand5}
				${resBundle.HelpCommand5Description}
				${resBundle("HelpLast","37Coins")}
				
				${resBundle("byebye","37Coins")}
			</p>
			<#include "footer.html">
		</article>
	</body>
</html>