<#setting locale=locale>
<html>
<head>
	<title>${resBundle.TransactionsSubject}</title>
	<#include "style.css">
</head>
<body>
<article class="se-content">
	<#include "header.html">
	<p class="text">
	<#if payload?has_content>
		<#list payload as t>
		${t.time?number_to_date?string.short} ${t.amount?string("#,##0.########")} <#if t.to??><#if t.to?length &lt; 12>${t.to}<#else>${t.to?substring(0,9)}..</#if></#if> <#if t.comment??><#if t.comment?length &lt; 12>${t.comment}<#else>${t.comment?substring(0,9)}..</#if></#if>  
		</#list> 
	<#else>
		no transactions.
	</#if>
	</p>
	<#include "footer.html">
</article>
</body>
</html>