<#setting locale=locale>
<html>
	<head>
		<title>${resBundle("WithdrawalReqSubject",payload.confKey)}</title>
		<#include "style.css">
	</head>
	<body>
		<article class="se-content">
			<h3 id="head2">${resBundle("WithdrawalReqSubject",payload.confKey)}</h3>
			<p class="text">
				<#setting locale=locale>
				${resBundle("WithdrawalReq",payload.amount?string("#,##0.########"),payload.msgDest.address)}
				${resBundle("WithdrawalReqIstr",payload.confKey)}
				
				${resBundle("WebConfirm",payload.confLink)}
				${resBundle.EmailConfirm}		
			</p>
			<#include "footer.html">
		</article>
	</body>
</html>